* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    width: 600px;
}

a {
    margin-top: 50px;
    border-radius: 40px;
    border: 1px solid rgb(197, 184, 184);
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: blue;
    font-weight: bold;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px){
    h2 {
        width: 320px;
        text-align: center;
    }
}